<div class = "container">
  <h2>Панель управления</h2>
  <hr/>

  <a class="btn btn-medium btn-primary" href="/course/add/">Добавить курс</a>
  <a class="btn btn-medium btn-default" href="/course/edit/">Управление курсами</a>
  <br/>
  <br/>
  <a class="btn btn-medium btn-primary" href="/exercise/add/">Добавить задание</a>
  <a class="btn btn-medium btn-default" href="/exercise/courseSelect/">Управление заданиями</a>
  <br/>
  <br/>
  <a class="btn btn-medium btn-primary" href="/teacher/add/">Добавить преподавателя</a>

</div>