<!DOCTYPE html>
<html>
  <head>

    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />

    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse header-navbar" role="navigation">
      <div class="container">

        <a class="navbar-brand" href="/">Beresta</a>

            <ul class="nav navbar-nav">
            <% if (session.teacherAuthenticated) { %>
              <li>
                <a href="/dashboard/show">
                  <span class="glyphicon glyphicon-user"></span>
                  <%= session.teacher.login %>
                </a>
              </li>
              <li>
                <a href="/course/list">
                  Список курсов
                </a>
              </li>
            <% } %>
          </ul>
          <div class="navbar-right">
            <% if (session.teacherAuthenticated) { %>
              <a class="btn btn-default navbar-btn navbar-right" href="/teacherSession/destroy">Выход</a>
            <% } %>
          </div>
          
      </div>

    </div>

    <%- body %>

    <!--
      Client-side Javascript
      ========================
    -->
    <!-- Bring in the socket.io client -->
    <!--script type="text/javascript" src="/js/socket.io.js"></script-->
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <!--script type="text/javascript" src="/js/sails.io.js"></script-->
    <!-- listen on socket.io for incoming messages -->

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    </body>
</html>
