<!DOCTYPE html>
<html>
  <head>

    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/styles/repl.css" />
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />

    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse header-navbar" role="navigation">
      <div class="container">

        <a class="navbar-brand" href="/">Beresta</a>

            <ul class="nav navbar-nav">
            <% if (session.authenticated) { %>
              <li>
                <a href="/user/show/<%= session.User.id %>">
                  <span class="glyphicon glyphicon-user"></span>
                  <%= session.User.login %>
                </a>
              </li>
              <li>
                <a href="/course/list">
                  Список курсов
                </a>
              </li>
            <% } %>
          </ul>
          <div class="navbar-right">
            <% if (session.authenticated) { %>
              <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">Выход</a>
            <% } %>
          </div>

        <% if (!session.authenticated) { %>
        <form class="navbar-form navbar-right" action="/session/create" method="POST" role="form">
          <div class="form-group">
            <input type="text" placeholder="Логин" name="login" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Пароль" name="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Вход</button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
        <% } %>

      </div>

    </div>

    <%- body %>

    <div class="container footer">
    <hr/>
      <a href="/dashboard/show" class="pull-right">Панель преподавателя</a>
    </div>

    <!--
      Client-side Javascript
      ========================
    -->
    <!-- Bring in the socket.io client -->
    <!--script type="text/javascript" src="/js/socket.io.js"></script-->
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <!--script type="text/javascript" src="/js/sails.io.js"></script-->
    <!-- listen on socket.io for incoming messages -->

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    </body>
</html>