<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
  <h2> Редактирование профиля </h2>

  <% if(flash && flash.err) { %>
    <ul class="alert alert-danger">
    <% Object.keys(flash.err).forEach(function(field) { %>
      <% Object.keys(flash.err[field]).forEach(function(error) { %>
        <% Object.keys(flash.err[field][error]).forEach(function(message) { %>
          <li class="alert-list-item"><%- flash.err[field][error][message] %></li>
        <% }) %>
      <% }) %>
    <% }) %>
    </ul>
  <% } %>

  <label for="form-name">Имя</label>
  <input value="<%= user.name %>" name="name" id="form-name" type="text" class="form-control"/>

  <label for="form-surname">Фамилия</label>
  <input value="<%= user.surname %>" name="surname"  id="form-surname" type="text" class="form-control"/>

  <label for="form-email">Электронная почта</label>
  <input value="<%= user.email %>" name="email" id="form-email" type="text" class="form-control"/>

  <label for="form-password">Пароль</label>
  <input type="password" name="password" id="form-password" type="text" class="form-control"/>
  <label for="form-confirmation">Подтверждение пароля</label>
  <input type="password" name="confirmation" id="form-confirmation" type="text" class="form-control"/>

  <br />
  
  <input type="submit" value="Сохранить" class="btn btn-lg btn-primary btn-block"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>