<div class="container">
  <h2><%- user.login %></h2>
  <hr />
  <h3><%- user.name %> <%- user.surname %></h3>
  <% if(user.email) { %>
    <h4>Эл. почта: <%- user.email %></h4>
  <% } %>

  <br />
  <% if(sessionUserMatchesId) { %>
  <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Редактировать</a>
  <% } %>
</div>