<div class = "jumbotron">
  <div class = "container">
    <form action="/session/create" method="POST" class="form-signin">
      <h2 class="form-signin-heading">Вход в личный кабинет</h2>

      <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
        <% Object.keys(flash.err).forEach(function(field) { %>
          <% Object.keys(flash.err[field]).forEach(function(error) { %>
            <% Object.keys(flash.err[field][error]).forEach(function(message) { %>
              <li class="alert-list-item"><%- flash.err[field][error][message] %></li>
            <% }) %>
          <% }) %>
        <% }) %>
        </ul>
      <% } %>

      <input type="text" class="form-control" placeholder="Логин" name="login">

      <input type="password" class="form-control" placeholder="Пароль" name="password">
      <br />

      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Войти">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">

    </form>
  </div>
</div>