<div class = "jumbotron">
  <div class = "container">
  	<form action="/user/create" method="POST" class="form-signup">
      <h2 class="form-signup-heading">Регистрация пользователя</h2>

      <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
        <% Object.keys(flash.err).forEach(function(field) { %>
          <% Object.keys(flash.err[field]).forEach(function(error) { %>
            <% Object.keys(flash.err[field][error]).forEach(function(message) { %>
              <li class="alert-list-item"><%- flash.err[field][error][message] %></li>
            <% }) %>
          <% }) %>
        <% }) %>
        </ul>
      <% } %>

      <input type="text" class="form-control" placeholder="Логин" name="login" autofocus>

      <input type="text" class="form-control" placeholder="Имя" name="name">

      <input type="text" class="form-control" placeholder="Фамилия" name="surname">

      <input type="text" class="form-control" placeholder="Эл. почта" name="email">

      <input type="password" class="form-control" placeholder="Пароль" name="password">

      <input type="password" class="form-control" placeholder="Подтвердите пароль" name="confirmation">
      <br />

      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Создать аккаунт">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">

    </form>
  </div>
</div>