<form action="/teacher/update/<%= teacher.id %>" method="POST" class="form-signin">
  <h2>Редактирование профиля администратора</h2>

  <% if(flash && flash.err) { %>
    <ul class="alert alert-danger">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li class="alert-list-item"><%- flash.err[error].text %></li>
    <% }) %>
    </ul>
  <% } %>

  <% if(flash && flash.successMessage) { %>
    <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li class="alert-list-item"><%- flash.err[error].text %></li>
    <% }) %>
    </ul>
  <% } %>

  <label for="form-email">Электронная почта</label>
  <input value="<%= teacher.email %>" name="email" id="form-email" type="text" class="form-control"/>

  <label for="form-password">Пароль</label>
  <input type="password" name="password" id="form-password" type="text" class="form-control"/>
  <label for="form-confirmation">Подтверждение пароля</label>
  <input type="password" name="confirmation" id="form-confirmation" type="text" class="form-control"/>

  <br />
  
  <input type="submit" value="Сохранить" class="btn btn-lg btn-primary btn-block"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>