.page {
  background: #FFF;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

#console {
  background: #0E1628;
  width: 450px;
  height: 100%;
  position: relative;
  float: left;
}

#console *::selection, #console *::-moz-selection, #console *::-webkit-selection {
  background: #94A2BB;
}

#progress {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 47%;
  height: 16px;
  padding: 3px 8px 4px 3px;
  background: #0B1014;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-top-color: #0D0D0D;
  border-bottom-color: #1D1D1D;
  border-right-color: #101010;
  border-left-color: #101010;
  border-top-width: 2px;
  opacity: 0;
}

#progress-fill {
  width: 0%;
  height: 16px;
  padding-left: 5px;
  border-radius: 6px;
  background-image: url('../images/progress-precomposed.png');
  background-image: url('../images/progress.png'), -webkit-gradient(linear, left top, left bottom, from(#fa6e43), to(#f2220c));
  background-image: url('../images/progress.png'), -webkit-linear-gradient(top, #fa6e43, #f2220c);
  background-image: url('../images/progress.png'), -moz-linear-gradient(top, #fa6e43, #f2220c);
  background-image: url('../images/progress.png'), -ms-linear-gradient(top, #fa6e43, #f2220c);
  background-image: url('../images/progress.png'), -o-linear-gradient(top, #fa6e43, #f2220c);
  background-image: url('../images/progress.png'), linear-gradient(top, #fa6e43, #f2220c);
}

.jqconsole {
  padding: 15px;
  padding-top: 17px;
  color: #F4FFFF;
  display: block;
  font-family: monospace;
  font-size: 14px;
  background: transparent;
  /* Force word wrap on all browsers. */
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -o-pre-wrap; /* Opera */
  white-space: -pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 (Candidate) */
  word-wrap: break-word; /* IE 5.5+ */
}

.jqconsole-blurred {
  color: #C4CCCC;
}

.jqconsole-prompt {
  font-weight: bold;
  color: #FC0;
  margin-left: -8px;
}

.jqconsole-blurred .jqconsole-prompt {
  color: #B91;
}

.jqconsole-old-prompt {
  font-weight: bold;
  color: #F60;
  position: relative;
  left: -8px;
}

.jqconsole-blurred .jqconsole-old-prompt {
  color: #B41;
}

.jqconsole-cursor {
  background: #666;
  line-height: 115%;
  margin-right: -8px;
}

.jqconsole-blurred .jqconsole-cursor {
  background: #333;
}

.error {
  color: #F06;
  display: block;
  position: relative;
  left: -8px;
}

.jqconsole-blurred .error {
  color: #B14;
}

.result {
  color: #6F0;
  display: block;
  position: relative;
  left: -8px;
}

.jqconsole-blurred .result {
  color: #4A1;
}

.matching-0, .matching-1, .matching-2, .matching-3, .matching-4 {
  color: #B3B;
}

.jqconsole-blurred .matching-1, .jqconsole-blurred .matching-2,
.jqconsole-blurred .matching-3, .jqconsole-blurred .matching-4 {
  color: #808;
}


.jqconsole-ansi-bold {
  font-weight: bold!important;
}

.jqconsole-ansi-lighter {
  font-weight: lighter!important;
}

.jqconsole-ansi-italic {
  font-style: italic!important;
}

.jqconsole-ansi-underline {
  text-decoration: underline!important;
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-moz-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-ms-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-o-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.jqconsole-ansi-blink {
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  -ms-animation-name: blinker;
  -o-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite; 
  -o-animation-iteration-count: infinite; 
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -ms-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
}

.jqconsole-ansi-blink-rapid {
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  -ms-animation-name: blinker;
  -o-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite; 
  -o-animation-iteration-count: infinite; 
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -ms-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 0.5s; 
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s; 
}


.jqconsole-ansi-hidden {
  visibility:hidden!important;
}

.jqconsole-ansi-line-through {
  text-decoration: line-through;
}

.jqconsole-ansi-fonts-1 {
  
}
.jqconsole-ansi-fonts-2 {
  
}
.jqconsole-ansi-fonts-3 {
  
}
.jqconsole-ansi-fonts-4 {
  
}
.jqconsole-ansi-fonts-5 {
  
}
.jqconsole-ansi-fonts-6 {
  
}
.jqconsole-ansi-fonts-7 {
  
}
.jqconsole-ansi-fonts-8 {
  
}
.jqconsole-ansi-fonts-9 {
  
}

.jqconsole-ansi-fraktur {
  
}

.jqconsole-ansi-color-black {
  color: black!important;
}
.jqconsole-ansi-color-red {
  color: red!important;
}
.jqconsole-ansi-color-green {
  color: green!important;
}
.jqconsole-ansi-color-yellow {
  color: yellow!important;
}
.jqconsole-ansi-color-blue {
  color: blue!important;
}
.jqconsole-ansi-color-magenta {
  color: magenta!important;
}
.jqconsole-ansi-color-cyan {
  color: cyan!important;
}
.jqconsole-ansi-color-white {
  color: white!important;
}

.jqconsole-ansi-background-color-black {
  background-color: black!important;
}
.jqconsole-ansi-background-color-red {
  background-color: red!important;
}
.jqconsole-ansi-background-color-green {
  background-color: green!important;
}
.jqconsole-ansi-background-color-yellow {
  background-color: yellow!important;
}
.jqconsole-ansi-background-color-blue {
  background-color: blue!important;
}
.jqconsole-ansi-background-color-magenta {
  background-color: magenta!important;
}
.jqconsole-ansi-background-color-cyan {
  background-color: cyan!important;
}
.jqconsole-ansi-background-color-white {
  background-color: white!important;
}

.jqconsole-ansi-framed {
  border: 1px solid!important;
}
.jqconsole-ansi-overline {
  text-decoration: overline!important;
}

#editor {
  position: relative;
  background: #FFF;
  width: 500px;
  height: 100%; 
  float: left;
}

#editor-widget {
  position: relative;
  width: 100%;
  height: 100%;
}

.ace_gutter-layer {
  min-width: 40px!important;
}