.header-navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/*
  =Forms
*/
.form-signup,
.form-signin,
.form-add {
  max-width: 600px;
  margin: 0 auto;
}
.form-signup-heading,
.form-signin-heading,
.form-add-heading {
  margin-top: 0;
  margin-bottom: 25px;
}
.form-signup .form-control,
.form-signin .form-control,
.form-add .form-control {
  border-radius: 0;
  margin-bottom: -1px;
  box-sizing: border-box;
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus,
.form-signin .form-control:focus,
.form-add .form-control:focus {
  z-index: 2;
}
.alert-list-item{
  margin-left: 10px;
}

/*
  =Courses
*/

.course-list-item__complete {
  background: #dff0d8;
}
.course-list-item_status {
  text-align: center;
}

/*
  =Exercises
*/
.exercise {
  width: 1280px;
  height: 700px;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
.exercise-info {
  background: #f7f7f7;
  width: 330px;
  height: 700px;
  padding: 0 20px 0 10px;
  float: left;
}
.exercise-coding {
  width: 950px;
  height: 700px;
  position: relative;
  float: left;
}
.exercise-coding-bar {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(right,#fff,#f7f7f7);
  width: 950px;
  height: 52px;
  position: relative;
}
.exercise-coding_run-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}
.exercise-coding-bar_solved-msg,
.exercise-coding-bar_unsolved-msg {
  display: none;
  width: 100%;
  padding-left: 150px;
}
.exercise-coding-bar_solved-msg a,
.exercise-coding-bar_unsolved-msg a {
  text-decoration: underline !important;
}
.exercise-info_text,
.exercise-info_instructions {
  margin: 0 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.exercise-info_text {
  padding: 0;
  border: 0;
  border-radius: 0;
  white-space: pre-wrap;
}
.exercise-info_instructions {
  background: #f0faff;
  border: 1px solid #c5dfea;
  padding: 5px;
  white-space: pre-wrap;
}