<div class = "jumbotron">
  <div class = "container">
    <h2>Интерактивная среда обучения  &laquo;Береста&raquo;</h2>
    <p>
      Практикуйтесь в написании кода не выходя из браузера. <br/>
      <% if (!session.authenticated) { %>
        Для начала работы с системой войдите в неё или зарегистрируйтесь. 
      <% } else { %>
        Для продолжения работы с системой <a href="/course/list">перейдите к одному из курсов</a>.
        <% } %>
    </p>

    <% if (!session.authenticated) { %>
    <p>
      <a href="/user/signin" class="btn btn-lg btn-default">Вход</a> 
      <a href="/user/signup" class="btn btn-lg btn-success">Регистрация</a> 
    </p>
    <% } %>
  </div>
</div>