<div class = "jumbotron">
  <div class = "container">
    <form action="/exercise/create" method="POST" class="form-add">
      <h2 class="form-add-heading">
        Добавление нового задания
        <% if(course_name) { %>
        в курс <br/>
        "<%- course_name %>"
        <% } %>
      </h2>

      <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
        <% Object.keys(flash.err).forEach(function(field) { %>
          <% Object.keys(flash.err[field]).forEach(function(error) { %>
            <% Object.keys(flash.err[field][error]).forEach(function(message) { %>
              <li class="alert-list-item"><%- flash.err[field][error][message] %></li>
            <% }) %>
          <% }) %>
        <% }) %>
        </ul>
      <% } %>

      <% if(flash && flash.successMessage) { %>
        <div class="alert alert-success">
          <%- flash.successMessage %>
        </div>
      <% } %>

      <% if(course_id) { %>
      <input type="hidden" name="course_id" value="<%- course_id %>">
      <% } else { %>
      <label for="course_id">Курс</label>
      <select multiple class="form-control" id="course_id" name="course_id" autofocus>
        <% Object.keys(courses).forEach(function(course) { %>
        <option value="<%- courses[course].id %>"><%- courses[course].name %></option>
        <% }) %>
      </select>
      <% } %>

      <label for="exercise_title">Заголовок задания</label>
      <input type="text" class="form-control" id="exercise_title" name="exercise_title">

      <label for="exercise_text">Текст задания</label>
      <textarea class="form-control" id="exercise_text" name="exercise_text" rows="4" placeholder="Опишите чему посвящено данное задание"></textarea>

      <label for="exercise_instructions">Инструкции</label>
      <textarea class="form-control" id="exercise_instructions" name="exercise_instructions" rows="4" placeholder="Приведите конкретные инструкции к действию"></textarea>

      <label for="exercise_precode">Первоначальный код</label>
      <textarea class="form-control" id="exercise_precode" name="exercise_precode" rows="4" placeholder="Код, который появится в редакторе студента, когда он откроет задание впервые"></textarea>

      <label for="exercise_solution">Верный результат</label>
      <textarea class="form-control" id="exercise_solution" name="exercise_solution" rows="4" placeholder="Введите ожидаемый результат, который должна вернуть REPL-среда"></textarea>

      <br />

      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Добавить задание">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">

    </form>
  </div>
</div>