<div class = "container">
  <h3>Выбор задания в курсе</h3>
  <table class="table" style="width:500px;">
    <% Object.keys(exercises).forEach(function(exercise) { %>
      <tr>
        <td>
        <a href="/exercise/edit/<%- exercises[exercise].id %>">
          <%- exercises[exercise].title %>
        </a>
        </td>
      </tr>
    <% }) %>

  </table>
</div>