<div class = "container">
  <h2>Выбор курса</h2>
  <hr/>

  <% if (courses) { %>

    <div class="list-group">
      <% Object.keys(courses).forEach(function(course) { %>
        <a href="/exercise/courseSelect/<%- courses[course].id %>" class="list-group-item">
          <div class="list-group-item-text row">
            <div class="col-md-3">
              <h4 class="list-group-item-heading"><%- courses[course].name %></h4>
              <span class="label label-primary">
              <% if (courses[course].progLangId === 1){ %>
                Javascript
              <% } %>
              <% if (courses[course].progLangId === 2){ %>
                Ruby
              <% } %>
              <% if (courses[course].progLangId === 3){ %>
                Python
              <% } %>
              </span>
            </div>
          </div>
        </a>
      <% }) %>
    </div>

  <% } %>

</div>