<div class = "jumbotron">
  <div class = "container">
    <form action="/exercise/update/<%= exercise.id %>" method="POST" class="form-add">
      <h2 class="form-add-heading">
        Изменение задания
      </h2>

      <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
        <% Object.keys(flash.err).forEach(function(field) { %>
          <% Object.keys(flash.err[field]).forEach(function(error) { %>
            <% Object.keys(flash.err[field][error]).forEach(function(message) { %>
              <li class="alert-list-item"><%- flash.err[field][error][message] %></li>
            <% }) %>
          <% }) %>
        <% }) %>
        </ul>
      <% } %>

      <% if(flash && flash.successMessage) { %>
        <div class="alert alert-success">
          <%- flash.successMessage %>
        </div>
      <% } %>

      <label for="course_id">Курс</label>
      <select multiple class="form-control" id="course_id" name="course_id" autofocus>
        <% Object.keys(courses).forEach(function(course) { %>
          <option value="<%- courses[course].id %>"><%- courses[course].name %></option>
        <% }) %>
      </select>

      <label for="exercise_title">Заголовок задания</label>
      <input type="text" class="form-control" id="exercise_title" name="exercise_title" value="<%= exercise.title %>" >

      <label for="exercise_text">Текст задания</label>
      <textarea class="form-control" id="exercise_text" name="exercise_text" rows="4"><%= exercise.text %></textarea>

      <label for="exercise_instructions">Инструкции</label>
      <textarea class="form-control" id="exercise_instructions" name="exercise_instructions" rows="4"><%= exercise.instructions %></textarea>

      <label for="exercise_precode">Первоначальный код</label>
      <textarea class="form-control" id="exercise_precode" name="exercise_precode" rows="4"><%= exercise.precode %></textarea>

      <label for="exercise_solution">Верный результат</label>
      <textarea class="form-control" id="exercise_solution" name="exercise_solution" rows="4"><%= exercise.solution %></textarea>

      <br />

      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Сохранить">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">

    </form>
  </div>
</div>