<script src="/jsrepl/repl.js" id="jsrepl-script"></script>
<script src="/jsrepl/languages.js"></script>

<script src="/js/jqconsole-2.10.0.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/browser-check.js"></script>
<script src="/js/dom.js"></script>
<script src="/js/repl.js"></script>
<script src="/js/languages.js"></script>

<script src="/js/ace/ace.js"></script>

<script src="/js/exerciseTools.js"></script>

<div id="precode" style="display:none;"><%- exercise.precode %></div>

<script type="text/javascript">
  ExerciseTools.init(<%- exercise.id %>, <%- course.progLangId %>, $('#precode').text());
</script>

<div class="exercise">

  <div class="exercise-info">
    <h6><%- course.name %></h6>
    <h4><%- exercise.title %></h4>
    <hr/>
    <div class="exercise-info_text"><%- exercise.text %></div>
    <div class="exercise-info_instructions"><%- exercise.instructions %></div>
  </div>

  <div class="exercise-coding">

    <div class="exercise-coding-bar">
      <div id="editor-run" class="exercise-coding_run-btn btn btn-success">
        Выполнить <span class="glyphicon glyphicon-play"></span>
      </div>
      <% if(exercise.nextExerciseId) { %>
      <div class="alert alert-success exercise-coding-bar_solved-msg">
        Поздравляем! Задание решено верно, перейдите к <a href="/exercise/show/<%- exercise.nextExerciseId %>" class="alert-link">следующему</a>.
      </div>
      <% } else { %>
      <div class="alert alert-success exercise-coding-bar_solved-msg">
        Поздравляем! Вы прошли данный курс.
      </div>
      <% } %>

      <div class="alert alert-danger exercise-coding-bar_unsolved-msg">
        Задание решено неверно, внесите исправления в код и попробуйте снова.
      </div>
    </div>

    <div id="editor" class="exercise-editor">
      <div id="editor-widget"></div>
    </div>
    <div id="console" class="exercise-console">
      <div id="progress"><div id="progress-fill"></div></div>
    </div>
  </div>

</div>