<form action="/course/create" method="POST" class="form-add">
  <h2 class="form-add-heading">Добавление нового учебного курса</h2>

  <% if(flash && flash.err) { %>
    <ul class="alert alert-danger">
    <% Object.keys(flash.err).forEach(function(field) { %>
      <% Object.keys(flash.err[field]).forEach(function(error) { %>
        <% Object.keys(flash.err[field][error]).forEach(function(message) { %>
          <li class="alert-list-item"><%- flash.err[field][error][message] %></li>
        <% }) %>
      <% }) %>
    <% }) %>
    </ul>
  <% } %>

  <label for="course_name">Название курса</label>
  <input type="text" class="form-control" id="course_name" name="course_name" autofocus>

  <label for="course_description">Описание курса</label>
  <textarea class="form-control" id="course_description" name="course_description" rows="4"></textarea>

  <label for="course_proglangid">Язык программирования</label>
  <select class="form-control" id="course_proglangid" name="course_proglangid" >
    <option value="1">Javascript</option>
    <option value="2">Ruby</option>
    <option value="3">Python</option>
  </select>

  <br />

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Добавить курс">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">

</form>