<div class = "container">
  <h2>Список учебных курсов</h2>
  <hr/>

  <% if (courses) { %>

    <div class="list-group">
      <% Object.keys(courses).forEach(function(course) { %>
      <% var courseSolved = (courses[course].exercisesQuantity == courses[course].solvedExercisesQuantity); %>
        <a href="/course/show/<%- courses[course].id %>" class="list-group-item <% if (courseSolved) { %>course-list-item__complete<% } %>">
          <div class="list-group-item-text row">
            <div class="col-md-3">
              <h4 class="list-group-item-heading"><%- courses[course].name %></h4>
              <span class="label label-primary">
              <% if (courses[course].progLangId === 1){ %>
                Javascript
              <% } %>
              <% if (courses[course].progLangId === 2){ %>
                Ruby
              <% } %>
              <% if (courses[course].progLangId === 3){ %>
                Python
              <% } %>
              </span>
            </div>

            <div class="col-md-2 course-list-item_status">
              <% if (courseSolved) { %>
              <span class="glyphicon glyphicon-ok"></span> Пройден<br/>
              <% } %>
              <%- courses[course].solvedExercisesQuantity %> / <%- courses[course].exercisesQuantity %>
            </div>

            <div class="col-md-7">
              <p>
                <%- courses[course].description %>
              </p>
            </div>
          </div>
        </a>
      <% }) %>
    </div>

  <% } %>

</div>