<div class = "container">
  <h2><%- course.name %></h2>
  <h4>
    <% if (course.progLangId === 1){ %>
      Javascript
    <% } %>
    <% if (course.progLangId === 2){ %>
      Ruby
    <% } %>
    <% if (course.progLangId === 3){ %>
      Python
    <% } %>
  </h4>
  <p><%- course.description %></p>

  <hr/>

  <% if (exercises) { %>
  <% var solvedExercisesIds = [] %>
  <% Object.keys(exercises).forEach(function(exercise) { %>
  <%   Object.keys(solvedExercises).forEach(function(solvedExercise) { %>
  <%    if (exercises[exercise].id == solvedExercises[solvedExercise].exerciseId) { %>
  <%      solvedExercisesIds.push(exercises[exercise].id) %>
  <%   }
     })  }) %>

  <h3>Список заданий</h3>
  <table class="table" style="width:500px;">
    <% Object.keys(exercises).forEach(function(exercise) { %>
    <% var exerciseIsSolved = (solvedExercisesIds.indexOf(exercises[exercise].id) !== -1) %>
      <tr <% if (exerciseIsSolved) { %> class="success" <% } %> >
        <td style="width:70%">
        <a href="/exercise/show/<%- exercises[exercise].id %>">
          <%- exercises[exercise].title %>
        </a>
        </td>
        <td style="width:30%; text-align:right;">
          <% if (exerciseIsSolved) { %><span class="glyphicon glyphicon-ok"></span> Пройдено<% } %>
        </td>
      </tr>
    <% }) %>

  <%  } %>

  </table>
</div>